/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #171717;
$link-color: rgb(218, 53, 49);
$light-bg-link-color: rgb(218, 53, 49);
$font-family-sans-serif: 'Copernicus', 'Georgia', serif;
$presentation-heading-font: 'Copernicus', 'Georgia', serif;

/*-- scss:rules --*/

@font-face {
  font-family: 'Copernicus';
  src: url('https://newspeak.house/assets/GalaxieCopernicus-Medium-dc8c9ed4c57588074f82a26c88e0532a6d75ec571cf62ca079ad97c7d1d90d7a.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Copernicus';
  src: url('https://newspeak.house/assets/GalaxieCopernicus-MediumItalic-6b90070287c3053c781dc7c09c145c135bb98dfb3690cdd61737e424fc65e0d7.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: 'Copernicus', 'Georgia', serif;
}

.reveal .slide-number {
  display: none;
}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.reveal .footer img {
  height: 100px;
}

.reveal a {
  font-style: italic;
  color: $link-color;
  text-decoration: none;
}

.reveal a:hover {
  text-decoration: underline;
}

.reveal .slide-background {
  background-color: #f1f1f1;
}

.reveal .slide {
  background-color: #ffffff;
}

.section-link {
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 1px solid;
  padding: 0.5em;
  color: $link-color;
  letter-spacing: 0.1em;
}
